@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
/* Primary */
--Red: hsl(0, 100%, 74%);
--Green: hsl(154, 59%, 51%);

/* Accent */
--Blue: hsl(248, 32%, 49%);

/* Neutral */
--Dark-Blue: hsl(249, 10%, 26%); 
--Grayish-Blue: hsl(246, 25%, 77%);
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{      
     /*Cada 1rem será considerado 10px*/
     font-size: 62.5%;
}
body{
     font-family: 'Poppins', sans-serif;
     font-size: 1.6rem;    
     background: url(../images/bg-intro-mobile.png) var(--Red) no-repeat center top;        
}
section.container{     
     width: 100%;
     max-width: 1200px;
     min-width: 360px;
     margin: 0 auto;
     padding: 9rem 3rem 7rem;
}
section.left{
     color: #fff;     
}
section.left h2{
     font-size: 2.7rem;
     font-weight: 600;
     text-align: center;
     width: 25rem;     
     margin: 0 auto;
}
section.left p{
     max-width: 54rem;
     text-align: center;    
     margin: 2rem auto 6rem;
}
section.right{
     max-width: 54rem;
     margin: 0 auto;
}
article.box-free{
     width: 100%;     
     border-radius: 1rem;
     box-shadow: 0 0.8rem rgba(0, 0, 0, 0.219);
     text-align: center;
     padding: 2rem 6rem;
     background-color: var(--Blue);
     color: rgba(255, 255, 255, 0.692);
     font-weight: 400;
     font-size: 1.5rem;     
     margin-bottom: 2.5rem;
}
article.box-free span{
     font-weight: 600;
     color: #fff;
}
section.box-form{     
     width: 100%;     
     background-color: #fff;
     border-radius: 1rem;
     padding: 2rem 2rem 0.5rem;
     box-shadow: 0 0.8rem rgba(0, 0, 0, 0.123);
    
}
section.box-form form{
     display: flex;
     flex-direction: column;
}
section.box-form form div{
     margin-bottom: 1.5rem;
}
section.box-form form  input{
     width: 100%;
     padding: 2rem;     
     border-radius: 0.5rem;
     border: 1px solid rgba(0, 0, 0, 0.13);
}
section.box-form form  input::placeholder{
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
}
section.box-form form  input:focus{
     outline: 1px solid var(--Blue);
}
section.box-form form  input.errorInput{         
     background: url(.././images/icon-error.svg) no-repeat;  
     background-position: 95%;                
}
section.box-form form button{
     background-color: var(--Green);
     width: 100%;
     height: 5rem;     
     border-radius: 0.5rem;
     font-family: 'Poppins', sans-serif;
     font-size: 1.5rem;
     font-weight: 500;
     text-transform: uppercase;
     color: #fff;
     border:none ;
     cursor: pointer;
     box-shadow: 0 0.3rem #34b87e;
}
section.box-form form button:hover{
     background-color: #77e2b4;
}
section.box-form form > span{     
     color: var(--Grayish-Blue);
     font-size: 1rem;
     text-align: center;
     padding: 1.5rem 2.5rem;
     line-height: 2.5rem;     
}
section.box-form form > span > a{
     text-decoration: none;
     font-weight: 700;
     color: var(--Red);
}
.error{
     position: relative;
     color: hsl(0, 74%, 74%);
     font-size: 1rem;
     padding: 0 3rem;
}
/*///////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1000px){
     body{          
          background: url(../images/bg-intro-desktop.png) var(--Red) no-repeat center top;        
     }
     section.container{
         display: flex;
         align-items: center;
         justify-content: center;
     }
     section.left p,
     section.left h2{         
          text-align: left; 
          margin: 0 0;        
     }    
     section.left h2{
          width: 100%;
          font-size: 4.7rem; 
          font-weight: 700;
          line-height: 5rem; 
          margin-bottom: 2rem;       
     } 
     section.left{         
          padding: 5rem;
     }
     section.right{
          width: 100%;
     }

}