@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
/* Primary */
--Red: hsl(0, 100%, 74%);
--Green: hsl(154, 59%, 51%);

/* Accent */
--Blue: hsl(248, 32%, 49%);

/* Neutral */
--Dark-Blue: hsl(249, 10%, 26%); 
--Grayish-Blue: hsl(246, 25%, 77%);
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{      
     /*Cada 1rem será considerado 10px*/
     font-size: 62.5%;
}
body{
     font-family: 'Poppins', sans-serif;;
     font-size: 1.6rem;            
}